<div class="container">
    <div *ngIf="socketService.data && socketService.data && id">
        <div class="row" *ngFor="let item of socketService.data.connectedUser">
            <span>{{item.name}}</span> <span> {{item.point}} </span>
        </div>

        <form (ngSubmit)="submitForm(scoreForm.form.value)" #scoreForm="ngForm">
            <div class="form-row">
                <input type="text" [(ngModel)]="score" name="name" class="form-control"
                    id="input-session-name" #finalScore="ngModel" required>
            </div>
            <div class="form-row">
                <button type="submit" class="btn btn-primary" [disabled]="!scoreForm.form.valid">Start Session</button>
            </div>
        </form>
    </div>
</div>
