<div class="container">
    <form (ngSubmit)="submitForm(planForm.form.value)" #planForm="ngForm">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="input-session-name">Session Name</label>
                <input type="text" [(ngModel)]="data.name" maxlength="200" name="name" class="form-control" id="input-session-name"
                    #name="ngModel" required>
            </div>
            <div class="form-group col-md-6">
                <label for="input-number-of-voters">Number of voters</label>
                <input type="text" [(ngModel)]="data.voters" name="numberOfVoters" class="form-control"
                    id="input-number-of-voters" type="number" min="1" #numberOfVoters="ngModel" required>
            </div>
        </div>
        <div class="form-row form-group">
            <div class="col">
                <label for="textarea-story-list">Paste your story list (each line will be converted as a story)</label>
                <textarea class="form-control" name="storyList" #storyList="ngModel" [(ngModel)]="data.storyList"
                    id="textarea-story-list" rows="5" required></textarea>
            </div>
        </div>
        <button type="submit" class="btn btn-primary float-right" [disabled]="!planForm.form.valid">Start Session</button>
    </form>
</div>
